@font-face {
  font-family: 'GenSenRounded';
  src: url('/font/GenSenRounded-R.ttc');
}

  body {
    color: #fff;
    font-family: 'GenSenRounded', sans-serif;
    font-style: normal;
    font-size: 16px;
  }

  header {
    font-size: 28px;
  }

  .navbar {
    font-family: 'GenSenRounded', sans-serif;
    font-size: 36px;
    font-weight: 900;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  main {
    padding: 25px;
  }

  .title-text {
    font-family: 'GenSenRounded', sans-serif;
    font-size: 48px;
  }

  .hc-ts1 {
    background-color: #444;
    font-family: 'GenSenRounded', sans-serif;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
  }

  .btn {
    font-family: 'GenSenRounded', sans-serif;
    font-size: 20px;
    font-weight: bolder;
  }

  .input-style {
    font-family: 'GenSenRounded', sans-serif;
    font-size: 20px;
  }
  
  .select-style {
    font-family: 'GenSenRounded', sans-serif;
    font-size: 20px;
  }

  .negative-result {
    background-color: green;
    color: white;
  }

  .positive-result {
      background-color: red;
      color: white;
  }

  .rst-title {
    background-color: #ea0;
    color: #222;
    font-family: 'GenSenRounded', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
  }